<h2>All questions</h2>
Sort by:
<a href="/">Highest votes</a>
<a href="">Most recent</a>
<a href="">Trending</a>

<hr>

<a href="questions/new">Add new question</a>

<hr>

<div>
  <% @questions.each do |question| %>
  <div class="question_frame">
    <div class="question_detail"><a href="questions/<%= question.id %>"><%= question.title %></a>
    </div>
    <div class="question_detail"><%= question.votes.sum(:type) %> votes
    </div>
    <div class="question_detail"><%= question.answers.count %> answers
    </div>
    <div class="question_detail"><%= question.views %> views
    </div>
  </div>
  <hr>
  <% end %>
</div>
