<h2>All questions</h2>
Sort by:
<a href="/">Highest votes</a>
<a href="">Most recent</a>
<a href="">Trending</a>

<hr>

<a href="questions/new">Add new question</a>

<hr>

<div>
  <% @questions.each_with_index do |question, index| %>
  <div>
    <div><%= index + 1 %>) <a href="questions/<%= question.id %>"><%= question.title %></a>
    </div>
    <div><%= question.votes.sum(:vote) %> votes
    </div>
    <div><%= question.answers.count %> answers
    </div>
    <div><%= question.views_count %> views
    </div>
  </div>
  <hr>
  <% end %>
</div>
