<h3><%= @question.title %><h3>

<div>
  <div><%= @question.description %></div>
  <div>Upvote | <%= @question.votes.sum(:type) %> | Downvote</div>
</div>

<div>
  <% @question.responses.each do |response| %>
  <div><%= response.description %> - <a href="/users/<%= response.user.id %>"><%= response.user.username %></a></div>
  <% end %>
</div>

<h4><a href="<%= @question.id %>/answers/new">Add Answer</a></h4>
<h4><%= @question.answers.count %> answers</h4>

<hr>
Best Answer:
<hr>
<div>
  <div><%= @best_answer.description %> - <a href="/users/<%= @best_answer.user.id %>"><%= @best_answer.user.username %></a></div>
  <div>Upvote | <%= @best_answer.votes.sum(:type) %> | Downvote</div>
  <br/>
  Responses:
  <div>
    <% @best_answer.responses.each do |response| %>
      <%= response.description %> - <a href="/users/<%= response.user.id %>"><%= response.user.username %></a>
    <% end %>
  </div>
</div>

<hr>

Other Answers:

<hr>

<div>
  <% @other_answers.each do |answer| %>
    <div><%= answer.description %> - <a href="/users/<%= answer.user.id %>"><%= answer.user.username %></a>
    </div>
    <div>Upvote | <%= answer.votes.sum(:type) %> | Downvote
    </div>

    <br/>
    Responses:
    <div>
      <% answer.responses.each do |response| %>
        <%= response.description %> - <a href="/users/<%= response.user.id %>"><%= response.user.username %></a>
      <% end %>
    </div>
    <hr>
  <% end %>
</div>

